body {
    background-color: rgb(78, 56, 76);
    font-size: larger;
}

#logearse {
    display: none;
}

#registrarse {
    display: none;
}

#final {
    display: none;
}

.fondito {
    background-color: rgb(235, 223, 223);
    width: 90vw;
    border: 1px solid black;
}

.saludo {
    background-color: rgb(235, 223, 223);
    width: 45vw;
    border: 3px solid black;
}


/* Estilo de la pestaña */

.tablinks {
    overflow: hidden;
    border: 1px solid rgb(165, 75, 75);
    background-color: #e28c8c;
}


/* Estilo de los botones del contenido de las pestañas */

.tab .tablinks {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of inputs on hover */

.tab input:hover {
    background-color: #e28c8c;
}

.tab input:focus {
    background-color: #e28c8c;
}


/* Create an active/current tablink class */

.tab input.active {
    background-color: #e28c8c;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #e28c8c;
    height: auto;
    text-align: center;
}

.tabcontent input {
    background-color: inherit;
    border: 1px solid #e28c8c;
    padding: 14px 16px;
    transition: 0.3s;
}